<section class="new-wrap">
  <div class="container">

    <div class="row">
      <div class="col-xs-12">

        <div class="edit-recipe-content">

          <h3>EDIT RECIPE</h3>

          <%= render 'form' %>

        </div>

      </div>
    </div>

  </div>
</section>
