/*Custom variables*/

/*font*/
$main-font: 'Lato', sans-serif;
$sub-font: 'Raleway', sans-serif;
$classic-font: 'Lora', serif;
$logo-font: 'Old Standard TT', serif;

$font-size: 16px;

/*color*/
$black: #000;
$white: #FFF;
$grey: #585c65;
$mediumgrey: #9b9b9b;
$lightgrey: #eeeeee;


/*size*/
$padding: 10px;
$margin: 10px;
