<% if object.errors.any? %>

  <div id="error_explanation" class="alert alert-danger" role="alert">

    <div class="error-main">
      The form contains <%= pluralize(object.errors.count, "error") %>.
    </div>

    <ul class="error-content">

      <% object.errors.full_messages.each_with_index do |msg, index| %>
        <li id=<%= index %>><%= msg %></li>
      <% end %>

    </ul>

  </div>

<% end %>
