<%= render 'shared/flash_messages' %>

<div class="center jumbotron">

  <section class="new-wrap">
    <div class="container">

      <div class="row">
        <div class="col-xs-12">

          <div class="home-content">

            <h2>WELCOME</h2>

            <h3>
              this app is to organize your recipes and food in your fridge!
              to see recipes, click "recipe". to see food, click "food".
            </h3>

          </div>

        </div>
      </div>

    </div>
  </section>

</div>
