<div class="center jumbotron">

  <h1>welcome to the recipe app</h1>

  <h2>this app is to organize your recipes and food in your fridge!
    to see recipes, click "recipe". to see food, click "food".
  </h2>


  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>">
      <%= message %>
    </div>
  <% end %>

</div>
