<h1>Welcome to the Recipe app</h1>
<p>This app is to organize your recipes and food in your fridge!
To see recipes, click "My Recipes". To see food, click "My foods".
</p>

<% if logged_in? %>
  <%= render 'shared/header' %>
<% else %>
  <li><%= link_to "Sign up now!", signup_path %></li>
  <li><%= link_to "Log in", login_path %></li>
<% end %>
