<h1>Welcome to Recipe App!</h1>
<p>This app is to organize your recipes and food in your fridge!
To see recipes, click "My Recipes". To see food, click "My foods".
</p>
<%= link_to "Sign up now!", signup_path %>
<%= link_to 'My Recipes', controller: 'recipes' %>
<%= link_to 'My Foods', controller: 'foods' %>
