@import "bootstrap-sprockets";
@import "bootstrap";

@import "shared/variables";


/* universal */

* {
  position: relative; // no surprises when using absolutely positioned elements
  box-sizing: border-box; // we can use percentage widths and not worry about any padding the element has influencing the layout
}

body {
  padding-top:  60px;
  color: $grey;
  font-size: $font-size;

  .wrap {
    background: $lightgrey;
  }

  .content {
    h3 {
      font-family: $sub-font;
      text-transform: uppercase;
      letter-spacing: 0.5em;
      font-size: 12px;
      font-weight: 700;
      text-align: center;
      padding: $padding*5 0;
      color: darken($lightgrey, 20%);
    }

    h2 {
      font-family: $main-font;
      text-transform: uppercase;
      letter-spacing: 0.3em;
      font-size: 12px;
      font-weight: 700;
      // text-align: center;
      padding: $padding*5 0;
      color: $grey;

      .glyphicon {
        font-size: 15px;
      }
    }

    h2 > ul li {
      list-style: none;
    }
  }
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}


/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $white;
  letter-spacing: -1px;
  padding-top: 9px;
  font-family: $logo-font;
  font-weight: 700;
  font-variant: small-caps;
}

#logo:hover{
  color: $white;
  text-decoration: none;
}


/*form*/
/*label in form*/
.control-label {
  text-transform: capitalize;
  font-weight: normal !important;
  font-family: $main-font;
}
/*text in textarea*/
.form-control-static {
  word-wrap: break-word !important;
}
